
.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.paginationItems {
    display: flex;
}
.item {
    padding: 5px;
    border: 1px solid greenyellow;
    margin: 0 1px;
}
.selected {
    font-weight: bold;
}