.app-wrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "h n" "p p";

}

.app-wrapper-content {
    grid-area: p;
    background-color: green;
}

