.dialogsPage {
  grid-area: p;
  background-color:darkgray;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 
  "d m";
}
.dialogs {
  grid-area: d;
}
.dialogsItem {
  padding: 5px 10px;
}
.messeges {
  grid-area: m;
}
.messageItemLeft {
  text-align: left;

}
.messageItemRight {
  text-align: right;
  padding: 10px 20px;
}
